@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #006666;
    --secondary-color: #00B8B8;
    --third-color: #f7f7f7;
    --bg-secondary: #00b8b825;
    --four-color: #e2e8f0;
    --five-color: #188043;
    
}

body {
  background-color: white;
  color: black;
}

.poppins-bold {
    font-family: "Poppins";
    font-weight: 700;
    font-style: normal;
  }

  .poppins-light {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
  }

  .open-sans {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
  }

  .animation-primary {
    animation: animation-opacity .6s linear;
  }

  @keyframes animation-opacity {
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }

